streaming_kafka/spark-streaming/scala/target/
streaming_kafka/spark-streaming/scala/.vscode/
streaming_kafka/spark-streaming/scala/.metals/
streaming_kafka/spark-streaming/scala/.bloop/

streaming_kafka/jars_dir/

streaming_kafka/.vscode/
streaming_kafka/.metals/

streaming_kafka/venv/

batch-airflow/logs
batch-airflow/plugins
